{{range gets "/*"}}
server {
    {{$service := base .Key}}
    listen {{ $port := split ($service) ":" }} {{index $port 1}};
    server_name {{ $name := split ($service) ":" }} {{index $name 0}};
    client_max_body_size {{$data := json .Value}} {{$data.client_max_body_size}};
    location /{
        proxy_pass {{$data := json .Value}} {{$data.proxy_pass}};
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto $scheme;
        proxy_set_header    X-Forwarded-Host $http_host;
        proxy_redirect off;
        proxy_request_buffering off;
        proxy_send_timeout 300;
        proxy_read_timeout 300;
        keepalive_timeout  300;
        send_timeout       300;
    }
}
{{end}}
